.grey{
	background-color:#EEEEEE;
}

.red{
	background-color:red;
}

.green{
	background-color:green;
}

.margin div{
	margin: 7px;
}

.margin{
	margin: 15px;
}

.padding{
	padding:15px;
}

.logo{
	width:120px;
	height: 100px;
}

.overflow{
	height:500px;
	overflow:scroll;

}

.table-header th{
	width: 100%;
}

.btn{
	color:#6666FF;
	text-decoration: underline;
	cursor: pointer;
}

.flex-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-buttons element{
	margin: 5px;	
}

#Home-Page{
	width: 100%;
	height: 100vh;
}

#home-title{
	color:white;
	margin-left:90px;
}